/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------- */

/* Common */
header a{
    color: inherit;
    text-decoration: none;
}
.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
}
/* ------- */

/* Header */
header{
    background-color: #000;
    color: white;
    height: 40px;
}
header .view{
    text-align: right;
    padding: 6px 5px;
}
.btn-view{
    background-color: #4a4a4a;
    display: inline-block;
    padding: 5px 6px;
    border-radius: 5px;
    font-size: 13px;
}
/* ------- */

/* Main */
main {
    width: 100vw;
    height: calc(100vh - 40px - 83px);
    background-color: #000;
    overflow: auto;
    padding: 40px 0;
}
main .row.container{
    flex-wrap: wrap;
}
.box-img{
    width: 255px;
    height: 150px;
    position: relative;
    margin: 10px 15px;
}
main .row.container .box-img img{
    width: 100%;
    display: block;
}
.name-status{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    font-size: 13px;
}
/* ------- */

/* Footer */
footer{
    background-color: #222222;
    color: #fff;
    height: 83px;
    width: 100%;
}
footer .row{
    align-items: center;
}
footer .row ul.row {
    list-style: none;
}
footer .row ul.row li > *{
    padding: 0px 10px;
}
footer .row ul.row li{
    text-align: center;
}
footer .row ul.row li h5{
    margin-top: 5px;
}
footer .row ul.row a{
    color: inherit;
    display: block;
    text-decoration: none;
    border-radius: 10px;
    padding-top: 5px;
}
footer .row ul.row a:hover{
    background-color: rgba(255,255, 255,0.4);

}
.menu-left{
    width: 20%;
}
.menu-center{
    width: 70%;
    justify-content: center;
}
.icon{
    font-size: 30px;
}
.share{
    color: #4ccd00;
}
.menu-right{
    width: 10%;
    height: 82px;
    color: red;
    background-color: #4a4a4a;
    position: relative;
}
/* .exit{
    text-align: center;
    line-height: 82px;
    display: block;
    color: inherit;
    text-decoration: none;
} */
.exit:hover{
    color: white;
    text-decoration: 2px underline;
}
.exit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 10px;
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}
/* ------- */